# DB
POSTGRES_PASSWORD=changeme
POSTGRES_USER=changeme
POSTGRES_DB=changeme

# redis
REDIS_PASSWORD=changeme

# minio
MINIO_ROOT_USER=changeme
MINIO_ROOT_PASSWORD=changeme
MINIO_DEFAULT_BUCKETS=changeme
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_BUCKET=avatars
MINIO_PUBLIC_URL=http://localhost:9000

# jwt
JWT_SECRET=changeme
